.list {
  button{
    background: transparent;
    border: none;
    font-size: 1.25em;
  }

  button:hover {
    text-decoration: underline;
  }

  button:focus {
    color:  $contrast;
  }

  #songs {
    width: calc(50% - 2px);
    text-align: right;
    margin: 0;
    float: left;
  }

  #authors {
    width: calc(50% - 2px);
    text-align: left;
    margin: 0px;
    border-left: 4px solid  $primary_inv;
    float: right;
  }

  #main {
    width: 100%;
    margin: 0;

    div {
      border-bottom: 4px solid  $primary_inv;
    }
  }

  #authors h2 {
    text-align: left;
    margin: 0;
  }

  #songs h2 {
    text-align: right;
    margin: 0;
  }
}