wrapper {
  display: inline-block;
  position: relative;
  margin-top: 4ex;
}

chord {
  font-weight: bolder;
  position: absolute;
  bottom: 1.6ex;
}

verse {
  font-weight: bolder;
  position: relative;
  margin-top: 3em;
}

verse::after {
  content: attr(number);
  font-weight: bolder;
  transform: translateX(-120%);
  position: absolute;
  bottom: 0;
  width: max-content;
}