#navigation {
    grid-area: nav;
    background-color: var(--primary_inv);
    color: var(--primary);
}

#header {
    grid-area: header;
}

#content {
    grid-area: content;
}

#content p {
    width: max-content;
    height: max-content;
    margin: 0 auto;
}

#footer {
    grid-area: footer;
    text-align: center;
    align-content: end;
    display: flex;
    background-color: var(--primary_inv);
    color: var(--primary);
}

#footer span {
    align-self: flex-end;
    width: 100%;
    margin-bottom: 0.5em;
}

#footer button {
    color: var(--primary);
}

#right_button {
    font-size: 2em;
    background: transparent;
    border: none;
    color: var(--primary_inv);
    width: 100%;
    height: 100%;
    text-align: center;
}

#right_button:focus {
    color: var(--contrast);
}

#left_button {
    font-size: 2em;
    background: transparent;
    border: none;
    color: var(--primary_inv);
    width: 100%;
    height: 100%;
    text-align: center;
}

#left_button:focus {
    color: var(--contrast);
}

#next {
    grid-area: right;
}

#next_span {
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    height: max-content;
    right: 0.5em;
}

#previous {
    grid-area: left;
}

#previous_span {
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    height: max-content;
    left: 0.5em;
}