body{
    background-color: whitesmoke;
    background-image: url("borr.png");
    background-repeat: no-repeat;
    background-size: 8em;
    background-position: right top;
    font-family: 'Raleway', sans-serif;
}

h1{
    font-size: 5em;
    text-align: center;
}

h2{
    font-size: 2em;
    text-align: center;
}

#right_button{
    font-size: 2em;
    position: absolute;
    right:0;
    top: 0;
    background: transparent;
    border: none;
    color: black;
    height: 100vh;
    width: 6vw;
}

#left_button{
    font-size: 2em;
    position: absolute;
    left:0;
    top: 0;
    background: transparent;
    border: none;
    color: black;
    height: 100vh;
    width: 6vw;
}

#song_text{
    font-size: 1.5em;
    text-align: left;
}

.song_body{
    width: max-content;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

wrapper{
    display: inline-block;
    position: relative;
    margin-top: 4ex;
}
chord{
    font-weight: bolder;
    position: absolute;
    bottom: 1.6ex;
}
verse{
    font-weight: bolder;
    position: relative;
    margin-top: 3em;
}

verse::after{
    content: attr(number);
    font-weight: 700;
    transform: translateX(-100%);
    position: absolute;
    bottom: 0;
}