body{
    background-color: whitesmoke;
    background-image: url("data/borr.png");
    background-repeat: no-repeat;
    background-size: 8em;
    background-position: right top;
    font-family: 'raleway', sans-serif;
}

h1{
    font-size: 5em;
    text-align: center;
}

h2{
    font-size: 2em;
    text-align: center;
}

#right_button{
    font-size: 2em;
    position: fixed;
    right:0;
    top: 0;
    background: transparent;
    border: none;
    color: black;
    height: 100vh;
    width: 6vw;
}

#left_button{
    font-size: 2em;
    position: fixed;
    left:0;
    top: 6vw;
    background: transparent;
    border: none;
    color: black;
    height: calc(100vh - 60px);
    width: 6vw;
}

.icon_home{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
    top: 0;
    background-color: transparent;
    border: none;
    background-image: url("data/home.svg");
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;
}

.icon_help{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
    top: 0;
    background-color: transparent;
    border: none;
    background-image: url("data/help.svg");
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;
}

.icon_list{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
    top: 0;
    background-color: transparent;
    border: none;
    background-image: url("data/list.svg");
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;
}

.icon_pdf{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
    top: 0;
    background-color: transparent;
    border: none;
    background-image: url("data/pdf.svg");
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;
}


#list{
    background: transparent;
    border: none;
    font-size: 1em;
    width: max-content;
}

#list:hover{
    text-decoration: underline;
}

#song_text{
    font-size: 1.5em;
    text-align: left;
}

.song_body{
    width: max-content;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.capo{
    font-weight: bold;
    font-size: 1.5em;
    width: 20vw;
    position: absolute;
    top: 1em;
    left: 70vw;
}

@media print {
    .capo{
        width: 59.4mm;
        left: 207.9mm
    }
}

wrapper{
    display: inline-block;
    position: relative;
    margin-top: 4ex;
}
chord{
    font-weight: bolder;
    position: absolute;
    bottom: 1.6ex;
}
verse{
    font-weight: bold;
    position: relative;
    margin-top: 3em;
}

verse::after{
    content: attr(number);
    font-weight: bold;
    transform: translateX(-120%);
    position: absolute;
    bottom: 0;
    width: max-content;
}