body{
    background-color: whitesmoke;
    background-image: url("borr.png");
    background-repeat: no-repeat;
    background-size: 8em;
    background-position: right top;
    font-family: 'Raleway', sans-serif;
}

h1{
    font-size: 5em;
    text-align: center;
}

#right_button{
    font-size: 2em;
    position: absolute;
    right:0;
    top: 0;
    background: transparent;
    border: none;
    color: black;
    height: 100vh;
    width: 6vw;
}

#left_button{
    font-size: 2em;
    position: absolute;
    left:0;
    top: 0;
    background: transparent;
    border: none;
    color: black;
    height: 100vh;
    width: 6vw;
}