<ul class="navigation navbar">
    <li class="navigation"><a href="{{ path('home') }}">Home</a></li>
    <li class="navigation"><a href="{{ path('list') }}">List</a></li>
    {{ render(controller('App\\Controller\\AccountController::navigation')) }}
</ul>