{% if login == false %}
    <li style="float: right">
        <a href="{{ url }}">Přihlásit se</a>
    </li>
{% else %}
    <li style="float: right" class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Dropdown</a>
        <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
    </li>
{% endif %}