{% if login == false %}
    <li style="float: right">
        <a href="{{ url }}">Přihlásit se</a>
    </li>
{% else %}
    <li style="float: right" class="dropdown">
        <a href="javascript:void(0)" class="dropbtn" id="dropdown-master">{{ info.Name }}</a>
        <div class="dropdown-content">
            <a class="dropdown-item" href="/favourite/{{ info.ID }}">Oblíbené písničky</a>
            {% if isMaintainer %}
                <a class="dropdown-item" href="editor">Editor</a>
            {% endif %}
            {% if isAdmin %}
                <a class="dropdown-item" href="admin">Admin</a>
            {% endif %}
            <a class="dropdown-item" href="{{ url }}">Odhlásit se</a>
        </div>
    </li>
    <script>
        window.onload = function () {
            var width = document.getElementById('dropdown-master').getBoundingClientRect().width;
            let items = document.getElementsByClassName('dropdown-item')

            for (let i=0; i < items.length; i++ ) {
                items[i].setAttribute('style', 'min-width: ' + (width - 32) + 'px')
            }
        }
    </script>
{% endif %}