@import "vars.css";
@import "parts/editor.css";
@import "parts/help.css";
@import "parts/list.css";
@import "parts/navigation.css";
@import "parts/page.css";
@import "parts/song.css";
@import "parts/about.css";


body {
    margin: 0;
    background-color: var(--primary);
    font-family: 'raleway', sans-serif;
    color: var(--primary_inv);
    min-height: 100vh;
    display: grid;
    grid-template-areas:
        'nav nav nav'
        'left header right'
        'left content right'
        'footer footer footer';
    grid-template-columns: 6vw auto 6vw;
    grid-template-rows: minmax(3em, max-content) max-content auto minmax(3em, max-content);

}

h1 {
    font-size: 5em;
    text-align: center;
}

h2 {
    font-size: 2em;
    text-align: center;
}

button:focus {
    border: none;
    outline: none;
}