{% extends 'base.html.twig' %}

{% block header %}
    <h1>O stránce</h1>
{% endblock %}

{% block content %}
        <div id="left_column" class="credits">
            <button type="button" class="credits">Autor projektu</button><br>
            <button type="button" class="credits">Code review</button><br>
            <button type="button" class="credits">Beta testing</button><br><br>
        </div>
        <div id="right_column" class="credits">
            <a href="https://tkysela.cz"><button class="credits" id="active" type="button">Tomáš Kysela - Kyslík</button></a><br>
            <a href="https://vkane.cz"><button class="credits" id="active" type="button">Vojtěch Káně</button></a><br>
            <button type="button" class="credits">Eva Tollingerová - víla Amálka</button><br>
            <button type="button" class="credits">Valča Beerová</button><br>
        </div>
    <div style="margin: 1em">&nbsp;</div>
    <div id="left_column" class="credits">
        <button type="button" class="credits">Hosting</button><br>
        <button type="button" class="credits">Zdrojový kód (+ bug reporting)</button><br>
        <button type="button" class="credits">Random informace</button><br>
        <button type="button" class="credits">Použité technologie</button><br>
    </div>
    <div id="right_column" class="credits">
        <a href="https://lebedahosting.cz/"><button class="credits" id="active" type="button">Lebeda hosting</button></a><br>
        <a href="https://github.com/tomkys144/BoRR-zpevnik"><button class="credits" id="active" type="button"><i class="fab fa-github"></i> GitHub</button></a><br>
        <button class="credits" type="button"><img alt="Code Time" src="https://img.shields.io/endpoint?style=for-the-badge&url=https://codetime-api.datreks.com/badge/818?logoColor=white%26project=zpevnik%26recentMS=0%26showProject=false" /></button><br>
        <a href="https://php.net/"><button class="credits" id="active" type="button">PHP 8.0</button></a><br>
        <a href="https://www.symfony.com/"><button class="credits" id="active" type="button">Symfony 5.2</button></a><br>
        <a href="https://twig.symfony.com/"><button class="credits" id="active" type="button">Twig 3</button></a><br>
    </div>
{% endblock %}