<a href="https://github.com/tomkys144/BoRR-zpevnik">
    <button style="background-color: transparent; border: none; font-size: 0.75em">napsal Tomáš Kysela - Kyslík
    </button>
</a>
<p style="font-size: 0.75em">&copy;2020 BoRR</p>